Question 1

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Question 2

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Question 3

In [4]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Question 4

--> In pandas, a DataFrame is a two-dimensional labeled data structure that consists of columns, which can be of different data types (e.g., numeric, string, boolean), and rows, which represent observations or instances. It is similar to a table or a spreadsheet in which each column represents a variable, and each row represents a specific record or observation.

--> On the other hand, a Series is a one-dimensional labeled array-like object in pandas. It can be thought of as a single column of a DataFrame.

Example of Data Frame:

In [8]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Example of pandas.series:

In [9]:
age_series = df['Name']
print(age_series)

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Question 5

--> head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame.

Example:
df = pd.read_csv('data.csv')  # we are assuming that 'data.csv' contains our data
print(df.head())  # Display the first 5 rows

--> info(): This function provides a summary of the DataFrame, including the data types of each column and the number of non-null values. It helps to understand the structure and integrity of the data.

example:
df = pd.read_csv('data.csv')  # Assuming 'data.csv' contains our data
print(df.info())  # Display information about the DataFrame

--> describe(): This function generates descriptive statistics of numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles.

Example:
df = pd.read_csv('data.csv')  # Assuming 'data.csv' contains our data
print(df.describe())  # Display summary statistics of numerical columns

--> sort_values(): This method allows you to sort the DataFrame by one or more columns in either ascending or descending order. It is helpful for arranging data in a specific order based on certain criteria.

Question 6

--> In this Series & DataFrame is a mutable object while, Panel is an Immutable object.

Question 7

In [10]:
import pandas as pd

# Create individual Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female